@CHARSET "ISO-8859-1";
/* Added for knet */
/*font Intstallation*/
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857142;
    color: #333;
	margin:0;
	padding:0;
	word-wrap: break-word;  
	}

/*UTILITY CLASS'S*/
.wrapper{
	margin: auto;
	max-width: 480px; 
	width: 480px;
	height: auto;
	padding: 12px; 
	display: block;
	text-align: left;	
	margin-top: 3%;
	text-align: center;	

    /*position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;*/
}
*{margin: 0;padding: 0;box-sizing: border-box;}
img{vertical-align: middle;max-width: 100%; }



.contentBox{
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	display: inline-block;
	padding:44px;
	border-radius: 8px;
	height: auto;
	border: 2px solid #047cdb;
	-webkit-box-shadow: 0px 0px 8px 6px rgba(33,33,33,0.47);
	-moz-box-shadow: 0px 0px 8px 6px rgba(33,33,33,0.47);
	box-shadow: 0px 0px 8px 6px rgba(33,33,33,0.47);
}

.paymentheader {
    color: #0077D5;
    font-family: Arial, Helvetica, serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    
	/*display: inline-block;*/
	float: left;
	width: 100%;
}
.paymentlabel {
    color: #0077D5;
    font-family: Arial, Helvetica, serif;
    font-size: 12px;
    font-weight: bold;
	padding-right: 15px;
   
}
.paymentdata {
    color: #444444;
    font-family: Arial, Helvetica, serif;
    font-size: 13px;
}
.contentBox .col{
	width:48%;
	float: left;
	margin-bottom: 3.8px;
		
}
.contentBox .col:first-child .paymentlabel {
	padding-left: 18px;
}
.contentBox .innerwrapper .col:first-child {
	width:40%;
}
.contentBox .innerwrapper .col:last-child {
	width:60%;
}
.paymentselect {
    color: #444444;
    font-family: Arial, Helvetica, serif;
    font-size: 12px;
	font-weight: bold;
}
.paymentinput {
	font-weight: bold;
    color: #444444;
    border: #0099ff 1px solid;
    font-family: Arial, Helvetica, serif;
    font-size: 13px;
    height: 20px;
    background: rgba(201,201,201,1);
	background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 39%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,201,201,1)), color-stop(39%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 39%);
	background: -o-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 39%);
	background: -ms-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 39%);
	background: linear-gradient(to bottom, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 39%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ffffff', GradientType=0 );
}


.button {
    width: 111px;
    height: 25px;
    background: #ededed;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: #cdcdcd;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
	margin-top: 4px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
	margin-top : 5px;
}
.footerText {
    color: #0077D5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
}
.footerText a:link {
    color: #0099FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.social-icons{
	padding-top: 20px;
	padding-bottom: 10px;
}
.social-lbl{
    color: #09f;
    font-size: 14px;
    font-weight: bold;
    cursor: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.column 
{
    width:40%;
	margin-left:16px;
	float:left;	
	margin-bottom: 4px;	
}

.col3{
	 width:50%;
	float:left;
	display:inline-block;
	padding-left:2px;
} 
.column1 
{
    width:49%;
	padding-left:20px;
	float:left;	
	margin-bottom: 2px;
}
 .col4{
	margin-bottom: 3px;
	margin-right: 5px;
	
 }
 .displayImage{
 	width: 100%;
    text-align: center;
    color: #0077D5;
    font-family: Arial, Helvetica, serif;
    font-size: 12px;
    font-weight: bold;
     float:left;
       
}
  .para{
    padding: 10px 0;
    width: -webkit-fill-available;
     
} 
.loadingImage{
    display: block;
    margin: auto;
}
.notification{
    border:1px solid #85bbec;
    background:#d9edf7;
    padding:10px;
    border-radius: 3px;
    
}
.notification p{    
    color:#31708f;
    font-family: Arial, Helvetica, serif;
    font-size: 13px;
    
}
.notification p span{
    text-transform: uppercase;
    font-weight: bold;
}

/* Added by Ahmed & Saqib */
input#debitNumber {
width : 105px;
}

/* Added by Ahmed & Saqib */
div#loading {
padding-bottom : 0px;
padding-top : 0px;
float : left;
width : 100%;
}

/* Added by Ahmed & Saqib */
.contentBox{
width:445px;
padding-top:1px;
}

/* Added by Ahmed & Saqib */
.logoHead {
    position: relative;
   margin-top: 17px;
    margin-left: auto;
	margin-right:auto;
	display:block;
	padding-bottom : 10px;
}
.logoSep{
opacity:0.7;
}
/* Added by Ahmed & Saqib */
select#dcprefix {
width : 68px;
}
select{
	height:20px;
}
/* Added by Ahmed & Saqib */
label#ValidationMessage {
margin-top : 10px;
}

/* Added by Ahmed & Saqib */
.bank {
width : 105%;
}

/* Added by Ahmed & Saqib */
.pin {
width : 105%;
}

/* Added by Ahmed & Saqib */
div#otpmsgDC2 {
border: #ff0000 1px solid; 
background-color: #f7dadd;
font-size: 12px;
font-family: helvetica, arial, sans serif;
color: #ff0000;
padding-right: 15px; 
display:none;
/*margin-top: -2px;*/
margin-bottom: 0px;
text-align:center;
}

/* Added by Ahmed & Saqib */
div#notificationbox {
margin-top : 0px;
margin-bottom : -10px;
}

/* Added by Ahmed & Saqib */
.row.storedpan {
margin-left : 8px;
background-color :#f0f0f0;
border: 1px solid #b4b3b3;
margin-right: 9px;
padding: 15px 30px 20px 45px;
margin-bottom: 11px;
border-radius:5px;
}

/* Added by Ahmed & Saqib */
div#seleHolder {
position : relative;
float : left;
width: 95%;
padding: 0px;
margin-bottom : 10px;
margin-left : 10px;
margin-top : 10px;
background : #f0f0f0;
border : 1px solid #aeb2b7;
height: 42px;
}

/* Added by Ahmed & Saqib */
div#fasterCheckDiv1 {
padding-left : 40px;
padding-top : 2px;
padding-bottom : 15px;
}

/* Added by Ahmed & Saqib */
div#fasterCheckDiv2 {
padding-right : 45px;
padding-top : 2px;
padding-bottom : 15px;
width:112px;
}

div#loading{
	height:0px;
	overflow:hidden;
	-moz-transaction: height 1s ease;
	-webkit-transaction: height 1s ease;
	transition: height 1s ease;
	background : url(../paypage-image/loading.gif) no-repeat;
	background-size: 22px;
	background-position-x:60px;
	padding-left: 90px;
	color: #a99999;
	margin-bottom:-5px;
	margin-top: 2px;
	float: left;
	widht:100%;
}

div#loading2{
	height:0px;
	overflow:hidden;
	-moz-transaction: height 1s ease;
	-webkit-transaction: height 1s ease;
	transition: height 1s ease;
	background : url(../images/paypage-images/loading.gif) no-repeat;
	background-size: 22px;
	background-position-x:60px;
	padding-left: 90px;
	color: #a99999;
	margin-bottom:-5px;
	margin-top: 2px;
	float: left;
	widht:100%;
}

div#siflg{
	width:103%;
	margin-right: 1%;
	 text-align: right;
	 //Added for si issue
	 /* font-size: 76%; */
	 display:block;
	 padding:10px 14px 0px 0px;
}

.terms {
	font-size: 13px;
	color: #0070cd;
	font-weight: bold; 
	font-style: italic;
	text-decoration:none;
}
/* added by saqib: for CBK branding*/
.add{
	height:90px;
	width: 440px;
	margin: auto;
	margin-bottom:10px;
	border-radius: 0px 10px;
	background-image: url("../paypage-image/pc.jpg");
	display:block;
}